@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');


body,html{
    height: 100%;
    --border-color-grid : 1px solid rgb(220,220,220);
    --icon-x: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/%3E%3C/svg%3E");
    --icon-y: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z'/%3E%3C/svg%3E");
    font-family: 'Montserrat', sans-serif;
    --color-black:rgb(0,21,20);
    --color-red:rgb(107,5,4);
    --color-gold:rgb(230,175,46);
}

h1{
    color: var(--color-black);
    font-size: 4rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 2fr) repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(3, 2fr) repeat(2, 1fr);
    gap: 1px 10px;
    height: 100%;
    grid-template-areas: ". . title title title . ." "player1 player1 buttons buttons buttons player2 player2" "score1 score1 board board board score2 score2" ". . board board board . ." ". . board board board . ." ". . . . . . ." ". . . . . . .";
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px 1px;
    grid-template-areas: "div1 div4 div7" "div2 div5 div8" "div3 div6 div9";
    grid-area: board;
    height:100%;
    max-width: 100%;
    margin: 1rem;

    /* border:1px solid green; */
  }

  .iconx{
      background-image: var(--icon-x);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
     
      
  }
  .icony{
    background-image: var(--icon-y);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
  
  .div1 { 
      grid-area: div1; 
      border-right: var(--border-color-grid); 
      border-bottom: var(--border-color-grid); 
      
    }
  
  .div2 { grid-area: div2; border-right: var(--border-color-grid);  }
  
  .div3 { grid-area: div3;  border-right: var(--border-color-grid);  border-top: var(--border-color-grid);  }
  
  .div4 { grid-area: div4; border-bottom: var(--border-color-grid); }
  
  .div5 { grid-area: div5; }
  
  .div6 { grid-area: div6;border-top: var(--border-color-grid);   }
  
  .div7 { grid-area: div7; border-left: var(--border-color-grid); border-bottom: var(--border-color-grid); }
  
  .div8 { grid-area: div8; border-left: var(--border-color-grid);  }
  
  .div9 { grid-area: div9; border-left: var(--border-color-grid); border-top: var(--border-color-grid); }
  
  .player2 { 
    grid-area: player2; 
    color: var(--color-red);
    align-self: flex-end;
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  14px 14px 28px #b5b5b5, 
                 -14px -14px 28px #ffffff;
    

}
  
  .player1 { 
    grid-area: player1; 
    color: var(--color-gold); 
    align-self: flex-end;
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  14px 14px 28px #b5b5b5, 
                 -14px -14px 28px #ffffff;

}
  
  .title { 
    grid-area: title;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 30px;

}
  
  .counterP1 { 
    grid-area: score1;
    align-self: flex-start;
    justify-self: center;
    padding-top:20px;
 }
  
  .counterP2 { 
      grid-area: score2; 
      align-self: flex-start;
      justify-self: center;
      padding-top:20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px 1px;
    grid-template-areas: ". . ." "startbtn resetbtn computerbtn" ". . .";
    grid-area: buttons;
  
  }
  
  .computer { 
      grid-area: computerbtn;
    align-self: center;
    justify-self: center;
    
    }
  
  .reset { 
      grid-area: resetbtn; background-color: lightseagreen;
      align-self: center;
      justify-self: center;
    }
  
  .start { 
      grid-area: startbtn; background-color: lime;
      align-self: center;
      justify-self: center;
    }

.button{
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  3px 3px 5px #b5b5b5, 
                 -3px -3px 5px #ffffff;
    padding:10px;
    color: var(--color-black)
    

}

.button:active{
    border-radius: 16px;
background: #ffffff;
box-shadow: inset 5px 5px 9px #cacaca, 
            inset -5px -5px 9px #ffffff;
}
.button:hover{
    background: #f5f5f5;
}

.turn {

  text-decoration: underline;
}

.bgGold{

/*background-color: var(--color-gold);*/
background-color: #ffffff;
-webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  
}

.bgRed{
  /* background-color:var(--color-red); */
  background-color: #ffffff;
  webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  
    
  }
  
 
  
  /**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-br {
  0% {
    border-radius: 0px;
    -webkit-box-shadow: 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5;
            box-shadow: 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    border-radius: 7px;
    -webkit-box-shadow: 1px 1px #b5b5b5, 2px 2px #b5b5b5, 3px 3px #b5b5b5, 4px 4px #b5b5b5, 5px 5px #b5b5b5, 6px 6px #b5b5b5, 7px 7px #b5b5b5, 8px 8px #b5b5b5;
            box-shadow: 1px 1px #b5b5b5, 2px 2px #b5b5b5, 3px 3px #b5b5b5, 4px 4px #b5b5b5, 5px 5px #b5b5b5, 6px 6px #b5b5b5, 7px 7px #b5b5b5, 8px 8px #b5b5b5;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br {
  0% {
    border-radius: 0px;
    -webkit-box-shadow: 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5;
            box-shadow: 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5, 0 0 #b5b5b5;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    border-radius: 7px;
    -webkit-box-shadow: 1px 1px #b5b5b5, 2px 2px #b5b5b5, 3px 3px #b5b5b5, 4px 4px #b5b5b5, 5px 5px #b5b5b5, 6px 6px #b5b5b5, 7px 7px #b5b5b5, 8px 8px #b5b5b5;
            box-shadow: 1px 1px #b5b5b5, 2px 2px #b5b5b5, 3px 3px #b5b5b5, 4px 4px #b5b5b5, 5px 5px #b5b5b5, 6px 6px #b5b5b5, 7px 7px #b5b5b5, 8px 8px #b5b5b5;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
/* PYRRRRROOOO FIREWORKS!!! */


.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }



/* TEXT COLOUR ANIMATION WINNER */

.winner-selector{
  background: linear-gradient(270deg, #ff0000, #ffa600, #f2ff00, #11ff00, #00fffd, #0020ff, #e200ff, #ff0019);
  background-size: 1600% 1600%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  -o-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}
@keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}